.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    min-width: 500px;
    height: auto;
    padding: 16px;
}

.login-box-title {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.login-box-content {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.login-box-button {
    flex: 1;
    text-align: end;
    margin-top: 10px;
}
