.edit-project-content{
  padding: 0 15px;
  display: flex;
}

.edit-project-content-box {
  width: 100%;
  margin: 10px 0 0 10px;
}

.edit-project-content-card {
  min-height: 80vh;
  max-height: 85vh;
  padding: 10px;
  margin-bottom: 25px;
  overflow: auto;
}

.edit-project-content-card-action {
  padding: 10px;
  cursor: pointer;
}

.edit-project-content-box-title {
  font-size: 2em;
  padding-bottom: 15px;
  padding-left: 16px;
}
.edit-project-content-box-title-version {
  font-size: 0.7em;
}

.edit-project-content-box-description {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.541176);
  font-weight: 500;
  padding-left: 16px;
}

