.app-content{
  padding: 0 15px;
  display: flex;
}

.app-content-menu {
  width: 20%;
  margin-top: 10px;
}

.app-content-menu-paper {
  padding: 10px;
  height: 50vh;
  overflow: auto;
}
.app-content-menu-item {
  padding: 5px 0;
}

.app-content-box {
  width: 80%;
  margin: 10px 0 0 10px;
}

.app-content-box-paper {
  min-height: 80vh;
  max-height: 85vh;
  padding: 10px;
  margin-bottom: 25px;
  overflow: auto;
}

